.manage-product{
    list-style: none;
    display: flex;
    border: 1px solid gray;
    width: 400px;
    justify-content: space-between;
    background: floralwhite;
    margin-left: 481px;
    box-shadow: 0px 7px 16px grey;
    margin-top: 15px;
   
}
ul li{

}
@media (max-width: 768px) {
    .manage-product{
        list-style: none;
        display: flex;
        border: 1px solid gray;
        width: 400px;
        justify-content: space-between;
        background: floralwhite;
        margin-left: 40px;
        box-shadow: 0px 7px 16px grey;
        margin-top: 15px;
       
    }
  }
  @media (max-width: 375px) {
    .manage-product{
        list-style: none;
        display: flex;
        border: 1px solid gray;
        width: 400px;
        justify-content: space-between;
        background: floralwhite;
        margin-left: 1px;
        box-shadow: 0px 7px 16px grey;
        margin-top: 15px;
       
    }
  }
  
  @media (max-width: 425px) {
    .manage-product{
        list-style: none;
        display: flex;
        border: 1px solid gray;
        width: 400px;
        justify-content: space-between;
        background: floralwhite;
        margin-left: 1px;
        box-shadow: 0px 7px 16px grey;
        margin-top: 15px;
       
    }
    }